

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body{
    background: #f5f5f5;
    color:#333;

}

#about{
  margin-top: 10px;
} 

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111;

}

.logo{
    color:white;


}

nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;

}

nav a:hover{
    color:#00ffd5;
}

.hero{

    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222;
    color: white;
    text-align: center;
}

.hero span{
    color:#00ffd5;
}

.btn{
    margin-top: 20px;
    padding: 10px 25px;
    background: #00ffd5;
    color:black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.section{
    padding: 60px 10%;
    text-align: center;
    
    
}

.bg{
    background: white;
}

.skills, .projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.skill{
    background: #00ffd5;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.card{
    background: #eee;
    padding: 20px;
    margin: 15px;
    width: 250px;
    border-radius: 8px;
}

footer{
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

html{
    scroll-behavior: smooth;
}

.projects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;

}

.projects-card{
      
    background: #ffffff;
    color: #000;
    width: 280px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: transform 0.3 ease;
    
}


.projects-card h3{
    margin-bottom: 10px;
    font-size: 20px;

}

.projects-card p{

    font-size: 14px;
    color: #555;

}

.projects-card:hover{
    transform: translateY(-8px);
}


.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 100px;
    width: auto;
    border-radius: 5px;
    border: #555 solid 3px;
}

.logo-text{
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    

}

.logo img:hover{
    transform:scale(1.1);
    filter:drop-shadow(0 0 10px #00ffd5);
    border-color: black;
}

#about p{
    
    text-align: center;
    padding: 20px 20px;
}

.nav a{
    background: #333;
    padding: 10px 10px;
    border-radius: 5px;
    
}